.App {
  text-align: center;
  margin-top: 40px;
  background-color: #3d3c3c;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;

}

h1 {
  font-weight: bold;
	margin: 0;

}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

li.selected {
  background-color: #007bff;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-left: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

button:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

button:hover {
  background-color: #2080c7;
}

h2 {
  color: #ffffff
}

p {
  color: #ffffff
}